<div class="container" style="margin-top: 70px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>payment id</th>
        <th>payment date</th>
        <th>payment amount</th>
        <th>payment method</th>
        <th>payment status</th>
        <th>currency</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">

        <td>{{ payment.payment_id }}</td>
        <td> {{ payment.payment_date }}</td>
        <td> {{ payment.payment_amount }}</td>
        <td> {{ payment.payment_method }}</td>
        <td> {{ payment.payment_status }}</td>
        <td> {{ payment.currency }}</td>
        <td>
          <button class="btn btn-primary" (click)="selectPayment(payment)"> Show details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card text-center" *ngIf="selectedPayment">
      <div class="card-header">
        # {{selectedPayment.id}}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{selectedPayment.name}}</h4>
        <p class="card-text">
          {{selectedPayment.description}}
        </p>
      </div>

    </div>
</div>
